
#text {
    color: var(--color-normal-contrast-weakest);
    margin: auto;
    width: 180px;
}
.counter {
    text-align: center;
}

.cls_view_main {
    display: flex;
    flex-direction: row;
    height: 100vh; /* 使容器高度占满视口高度 */
    overflow: hidden; /* 防止内容溢出 */
}

.cls_view_asset_list {
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box; /* 包含内边距和边框在宽度内 */
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    border: 1px solid black;
}

.cls_view_node_tree {
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box; /* 包含内边距和边框在宽度内 */
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    border: 1px solid black;
}

.resizer-line-1 {
    width: 2px; /* 分隔条宽度 */
    cursor: col-resize; /* 改变鼠标光标样式 */
    user-select: none; /* 禁止用户选择文本 */
    background-color: #ccc; /* 分隔条背景色 */
}
  
.right-panel {
    flex-grow: 1; /* 使右面板占据剩余空间 */
    display: flex; 
    flex-direction: column;
    border-left: 1px solid black; /* 添加左边框以分隔面板 */
    padding: 10px;
    box-sizing: border-box; /* 包含内边距和边框在宽度内 */
}

.tree-view-container {
    height: 100%;
    overflow-y: auto; /* 启用垂直滚动 */
    border: 1px solid #ccc; /* 可选：为容器添加边框以明确可视区域 */
    padding-right: 10px; /* 可选：添加右侧内边距以避免滚动条遮挡内容 */
}

.loading-div {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    cursor: pointer;
    line-height: 2;
    padding-left: calc(var(--depth) * 20px);
}
.item .bold {
    font-weight: bold;
}
.item .selected {
    background-color: #444;
    color: #fff;

    border-radius: 3px;
    padding-left: calc(var(--depth) * 20px); /* 确保选中项保持缩进 */
}

.btn-with-menu-wrapper {
    position: relative; /* 确保弹窗相对这个容器定位 */
    display: inline-block;
}

.context-menu {
    color: black; 
    position: fixed; /* 使用 fixed 解决插件环境定位问题 */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10000; /* 提高优先级 */
    padding: 10px;
    list-style: none;
    margin: 0;
    white-space: nowrap;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.context-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.context-menu li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.context-menu li input[type="checkbox"],
.context-menu li input[type="radio"] {
    margin-right: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}