.node-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px outset #fff8f8; */
}

.component-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    /* border: 1px outset #fff8f8; */
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.property {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vector-input {
    display: flex;
    gap: 15px;
}

ui-component,
ui-node,
ui-slider,
ui-textarea,
ui-select,
ui-asset,
ui-input,
ui-num-input,
ui-color {
    width: 190px;
}

.comp_node_selecter {
    width: 190px;
}

label {
    width: 105px;
}